%ul
  %li
    .left
      =image_tag 'puppy.jpg'
    .right.marginTop20
      Reliable, caring pettings for the central florida ocala region    
  %li
    .left
      =image_tag 'cat.jpg'
    .right.marginTop20
      Let your pets relax in the comfort of their own home    
  %li
    .left
      =image_tag 'koi.jpg'
    .right.marginTop20
      Have a worry free trip away from your animals    
  %li
    .left
      =image_tag 'bird.jpg'
    .right.marginTop20
      Caring for dogs, cats, horses, snakes, iguanas etc
