%h3 Services
%h5 Day Rates
%ul.paw
  %li $20 / day
  %li $30/ Twice a day
  %li $40/ 3 times a day
  %li Additional $10 Every visit (per day)
  %li $50 Over-night stays
  %li Dog horse
  %li Pet taxi counts as 1 visit ($20 to and from) in the Ocala area only. 
  %li For abnormal requests, please contact me for more information.


